.portfolio-page-div1 {
    display: flex;
    justify-content: flex-end;
}

.portfolio-page-div1 .h2-xs-section-title {
    margin-top: 0.5rem;
}

.portfolio-page-div2 .hero-layout-grid {
    background-color: transparent;
    box-shadow: none;
    margin: 0;
}

.portfolio-page-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 3rem;
}