.portfolio-page-div1 {
    display: flex;
    justify-content: flex-end;
}

.portfolio-page-div1 .h2-xs-section-title {
    margin-top: 0.5rem;
}



.portfolio-page-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 3rem;
}