.hero-layout-grid {
    margin: 2rem 0;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: #DEE8FF;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #DDDDDD;
}

/* .hero-layout-btn {} */

.hero-layout-h1 {
    font-weight: 400;
}

.hero-layout-h1-b {
    font-weight: 800;
}

@media (min-width: 900px) {
    .hero-layout-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
}