.work-exp-grid {
    display: grid;
    gap: 3rem;
}

.work-exp-card {
    background-color: #DEE8FF;
    box-shadow: 0px 0px 15px #DDDDDD;
    border-radius: 20px;
    padding: 3rem 1rem;
}

.work-exp-card-img {
    border-radius: 16px;
}

@media (min-width: 900px) {
    .work-exp-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}