.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF785B;
    box-shadow: 0px -5px 10px #FDDFD8;
    color: #FCFDFF;
    padding: 2rem 0;
}

.footer p {
    margin: 0;
    padding-top: 2rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.footer-div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 10px;
    position: relative;
    bottom: 5px;
    left: 1px;
}

.social-media-icon {
    font-size: 2rem;
}

.social-media-a {
    color: #FCFDFF;
    text-decoration: none;
}

@media (min-width: 900px) {
    .footer-div {
        gap: 2.5rem;
    }
}