/* colors
Main font color: #012140
Secondary font color: #7D8EA6
Contrast color: #FF785B
Main bg color: #FCFDFF
Secondary bg color: #DEE8FF
Shadow: #DDDDDD
Contrast color shadow: #FDDFD8
*/

/* inspo: https://dribbble.com/shots/6720256-Cooking-Recipe-App?utm_source=pinterest&utm_campaign=pinterest_shot&utm_content=Cooking+Recipe+App&utm_medium=Social_Share */

/* fonts
font-family: 'Cormorant Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/


body {
    background-color: #FCFDFF;
    margin: 0;
    color: #7D8EA6;
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    color: #012140;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
}

button {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
    padding-bottom: 3rem;
}

.btn {
    background-color: #FF785B;
    border: none;
    padding: 0.75em 2em;
    color: #FCFDFF;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #FDDFD8;
}

/* keyframes */
@keyframes slideFromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.slide-from-right {
    animation: slideFromRight 0.5s ease-out forwards;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(150px);
        opacity: 0;
    }
}

.slide-from-left {
    animation: slideFromLeft 0.5s ease-in forwards;
}


@keyframes fadeInFromBotton {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slide-from-bottom {
    animation: fadeInFromBotton 0.6s ease-out forwards;
}



/* media queries */
@media (min-height: 900px) {
    .container {
        min-height: 80vh;
    }
}